.btn {
	border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    vertical-align: top;
    
    &:hover {
    	box-shadow: 0 0 11px 0px #000 inset;
    }
}
.btn.big{
	@extend .fs3;
	font-family: $euroB;
	padding: 12px 30px;    
}
.btn.middle {
	font-size: 20px;
	font-family: $euroB;
	padding: 6px 30px 6px;    	
}
.btn.green {
	@extend .text-shadow;
	background: $green;
	color: $white;
	border: solid 1px $green;
}


.inpt {
	border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 16px;
    font-family: $euroL;
}
.inpt.big {
	padding: 9px 12px;
}