@font-face {
  font-family: 'europagronr2sh-xbolregular';
  src: url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.eot");
  src: url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.woff2") format("woff2"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.woff") format("woff"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.ttf") format("truetype"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xbol-webfont.svg#europagronr2sh-xbolregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europagronr2sh-xligregular';
  src: url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.eot");
  src: url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.woff2") format("woff2"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.woff") format("woff"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.ttf") format("truetype"), url("../fonts/scangraphic_digital_type_collection_-_europagronr2sh-xlig-webfont.svg#europagronr2sh-xligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}