html, body {
	font-family: $euroL;
	letter-spacing: 1px;	
	color: $black;
}
.container {
	max-width: 1200px;
	width: 100%;
}

@for $i from 1 through 24 {
	.col-sm-#{$i} .row, .col-xs-#{$i} .row {
		margin-left: 0;
		margin-right: 0;
	}
}

@for $i from 1 through 24 {
	.col-sm-#{$i}, .col-xs-#{$i} {
		@media (max-width: $smallmobileW){
			padding-right: 8px;
		}
	}
}

//========== FONT SIZES ========
$i : 1;
@each $f in $fs1, $fs2, $fs3, $fs4, $fs5 {	
	.fs#{$i} { 
		font-size: $f;
		@media (max-width:1669px){
			font-size: $f - 1;
		}
		@media (max-width:1280px){
			font-size: $f - 2;
		}
		@media (max-width:$mobileW){
			font-size: $f - 3;
		}
	}
	$i : $i + 1;
}

.b { font-family: $euroB;}

//========= PLACEHOLDER ========
::-webkit-input-placeholder {color: $black; letter-spacing: 1px;}
::-moz-placeholder          {color: $black; letter-spacing: 1px;}/* Firefox 19+ */
:-moz-placeholder           {color: $black; letter-spacing: 1px;}/* Firefox 18- */
:-ms-input-placeholder      {color: $black; letter-spacing: 1px;}

//========= TEXT SHADOW ========
.text-shadow {
	text-shadow: 0 0 2px $black;
}

//========= Arror right ========
.arr-right {
	transform: rotate(270deg);
	font-size: 13px;
	color: $green;
}

// ======= Labels =======
.label {	
	@extend .fs5;
	border-radius: 0;
	background: $darkblue;
	color: $white;
	padding: 2px 7px;
}

// ====== Stars =========
.stars {
	color: $yellow;
	vertical-align: text-top;
}


// ====== Font colors helper classes ======= 
.text-gr {color: $green;}
.text-bl {color: $blue;}
.text-wh {color: $white;}

// ====== Hover animation ==========
.u-anim {
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.u-anim:after {  
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: $green;
  transition: width .3s ease-in-out;
}
.u-anim:hover:after,
.u-anim:focus:after {
  width: 87%;
}