// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Media sizes
$mobileW 	  : 890px;
$smallmobileW : 640px;


// Colors
$green:		#199E09;
$wgreen: 	#62E12D;
$white: 	#ffffff;
$blue:		#365B9D;
$grey:		#7d7d7d;
$wgrey:		#ddd;
$darkblue:  #424c5b;
$yellow:	#ffcc00;
$black:		#000;

//Font size
$fs1: 56px;
$fs2: 35px;
$fs3: 22px;
$fs4: 18px;
$fs5: 16px;	

$mobmenuFS: 16px;

// Font family
$euroL : "europagronr2sh-xligregular";
$euroB : "europagronr2sh-xbolregular";


// ===== Template ======
$deftopoffset : 7em;