.footer-courses {
	min-height: 722px;
	padding-top: $deftopoffset;
	padding-bottom: $deftopoffset;
	
	.footer-courses-col {
		@media(max-width: 479px){
			width: 100%;
			margin-bottom: 4em;
			&:last-child {
				margin-bottom: 0;
			}
		}


		.header {
			color: $white;
			padding-bottom: 1.5em;
			
			&:after{
				display: block;
			    content: ".";
			    font-size: 0.001px;
			    width: 100%;
			    height: 2px;
			    border-bottom: solid 1px $grey;
			    border-top: solid 1px $black;
			    position: relative;
			    bottom: -18px;
			}

			.title {
				@extend .fs3;
				font-family: $euroB;
			}
			.desc {
				@extend .fs4;
			}
		}
		.course-item {
			padding-top: 19px;
			padding-bottom: 19px;

			color: $white;
			
			&:after{
				display: block;
			    content: ".";
			    font-size: 0.001px;
			    width: 100%;
			    height: 2px;
			    border-bottom: solid 1px $grey;
			    border-top: solid 1px $black;
			    position: relative;
			    bottom: -18px;
				}

			.title {
				@extend .fs4;
				font-family: $euroB;
			}
			.location {
				@extend .fs4;
			}
			.link {
				@extend .fs4;
				color: $green;
				text-decoration: underline;

				@media (max-width: $mobileW){
					display: block;
				}
			}
		}
		.show-more {
			@extend .fs4, .u-anim;
			float: right;
			color: $white;
			padding-top: 8px;
		}
	}
}

.footer-links {
	padding-top: $deftopoffset;
	padding-bottom: $deftopoffset;

	.links-row {
		width: 20%;
		list-style: none;
		padding-left: 4px;
		padding-right: 4px;
		float: left;

		@media(max-width: $mobileW){
			width: 50%;
			margin-bottom: 4em;
			padding-left: 27px;
			list-style: disc;
		}

		a {
			@extend .fs5;
			font-family: $euroB;
			color: $black;
			padding-bottom: 8px;
			display: block;

			@media (max-width: $mobileW){
				font-size: 21px;
				padding-bottom: 0;
			}
			@media (max-width: $smallmobileW){
				font-size: 16px;
			}
		}
	}
}

.subscribe {
	padding-top: $deftopoffset;
	padding-bottom: $deftopoffset;
	min-height: 329px;

	.left-side {
		color: $white;

		.title {
			@extend .fs2;			
			font-family: $euroB;
		}
		.desc {
			@extend .fs4;
			font-weight: bolder;
			padding-bottom: 2em;

		}

		form {
			.email {
				width: 69%;
				margin-right: 4px;
				color: $black;
				@media (max-width: 1038px) and (min-width:$mobileW){
					width: 32vw;
				}
				@media (max-width: $mobileW){
					width: 50%;
				}
				@media (max-width: $smallmobileW){ 
					margin-right: 2%;
				}
			}
			button {
				@media (max-width: $smallmobileW){
					width: 47%;
					padding-left: 0;
				    text-align: center;
				    padding-right: 0;
				}
				@media (max-width: 400px) {
					width: 46%;
				}
			}
		}
	}
	.right-side {
		@media(max-width: $mobileW){
			margin-top: 3em;
		}

		.list-item {
			color: $white;
			position: relative;
			padding-left: 34px;
			margin-bottom: 2em;

			.icon {
			    display: block;
			    position: absolute;
			    left: -5px;
			    color: $green;
			    font-size: 21px;
			}
			.title {
				@extend .fs3;
				font-family: $euroB;
				margin-bottom: 0;
			}
			.desc {
				@extend .fs4;
			}
		}		
		
	}
}

.footer {
	padding-top: $deftopoffset;
	padding-bottom: $deftopoffset;

	.widget {
		@extend .fs5;
		color: $green;
		padding-bottom: 2em;
		text-align: center;
		font-weight: bold;

		@media(max-width: $mobileW){
			padding-bottom: 0em;
		}
	}

	.banners {
		ul {			
			padding-left: 0;
			text-align: center;
			
			margin: 0 auto;
			list-style: none;

			li {
				width: 20%;
				display: block;
				float: left;
				
				div {
				    width: 100%;
    				height: 100px;
				}
			}
		}
	}
	.copyright {
		.text {
			@extend .fs4;
			text-align: center;
			margin-top: 3em;

			@media(max-width: $mobileW){
				margin-top: 1em;
			}
		}
	}
}
