header{
	
	ul li {
		float: left;
		list-style: none;
		@media (max-width: $mobileW){
			width: 100%;
		}
	}
	.first-line{
		padding: 27px 0;
		@media (max-width: $mobileW){ 
			text-align: right;
			display: none;
		}
		
		.left-topnav{
			.btn-group:first-child {
				margin-right: 22px;
				@media (max-width: $mobileW) {
					margin-right: 0;
				}
			}

			.btn-group {
				@media (max-width: $mobileW) {
					width: 100%;
				}

				.dropdown-menu {
					@media (max-width: $mobileW){
						right: 0;
						float: right;
						left: auto;
					}
				}

				a > i {
					font-size: 10px;
					&:before {
					    display: block;
					    position: relative;
					    bottom: 1px;
					    left: -3px;
					}
				}

				&.open > a > i {
				    transform: rotate(270deg);
				}
			}
			a {
				cursor: pointer;
				color: $black;
				font-family: $euroB;
				@extend .fs4;				

				i {color: $green;}
			}
			ul li {
				width: auto;
				float: none;
				
				a {font-weight: normal;}
			}
		} 
		
		/* ===  right menu side === */
		.menu-primary-menu-container {
			width: 69%;
			float: left;

			@media (max-width: $mobileW) {
				width: 100%;				
			}
		}
		ul.account-menu.nav {
			@extend .menu-primary-menu-container;
			width: 31%;

			@media (max-width: $mobileW){
				width: 100%;
			}
		}

		.nav li a {
			@extend .fs5;
			padding: 0 13px;
			color: $black;
			&:hover {
				text-decoration: underline;
			}
			
			@media (min-width: $mobileW) and (max-width: 1079px){
				padding: 0 0.6vw;
			}
			@media (max-width: $mobileW){
				font-size: $mobmenuFS;
				padding-right: 0;
			}
		}
		ul.account-menu.nav li a {
			color: $green;
			font-family: $euroL;
			font-weight: bold;
		}
		.account-menu > li:first-child a:after {
		    content: ".";
		    border-right: solid 2px #ccc;
		    color: $white;
		    position: absolute;
		    right: -1px;
		    height: 73%;
		    margin: 4% 0;
		    
		}
		ul.account-menu.nav li:last-child a:after {
			@media(max-width: $mobileW) {
			    border-bottom: solid 1px grey;
			    content: ".";
			    display: block;
			    color: #fff;
			    height: 4px;
			    width: 100%;
			}
		}
		.account-menu a:after, .account-menu a i {
			@media (max-width: $mobileW){
		    	display: none;
		    }
		}

		#menu-secondary-menu a {
			font-family: $euroB;
		}

	}
	.second-line{
		/* ===== Logo part ====== */
		background: $black;
		padding: 4.5px 0;
		min-height: 94px;

		.logo {
			color: $white;

			@media (max-width: $mobileW){
				float: left;
			}
			@media (max-width: 446px){
			    font-size: 8vw;			    
			    display: block;
			}
			@extend .fs1;
		}
		.logo b{			
			color: $wgreen;
			font-family: $euroB;
			font-weight: 500;
		}

		/* ===== Mobile menu button ========= */
		.mobile-menu-button {
		    border: solid 2px $green;
		    width: 51px;
		    border-radius: 2px;
		    padding: 4px;
		    position: relative;
		    float: right;
		    right: 11px;
		    top: 21px;
		    
		    cursor: pointer;

		    span {
		    	background: $green;
			    width: 90%;
			    height: 2px;
			    display: block;
			    margin: 6px auto;
		    }
		}

		/* ==== tabs nav ==== */
		ul.tabs-nav {
			margin-top: 2.8em;
			padding-left: 0;

			li {
				margin: 0 1.4vw;
				@media (max-width: 928px){
					margin: 0 1.1vw;
				}

				a {
					@extend .fs4;
					color: $white;
					font-family: $euroB;
					text-decoration: none;
					
					&:hover {
						color: $green;
					}					
				}
			}
		}
	}

	

} 
