.header-content {
	min-height: 728px;
	background: url('../images/header_bg.jpg') no-repeat center center / cover;

	.container {
		padding-top: 8em;
		@media(max-width: $mobileW) {
			padding-top: 5em;
		}
	}

	.header-text {
		@extend .fs1;
		font-family: $euroB;
		color: $white;			
		line-height: 0.93;
		margin-bottom: 2em;
		@media (max-width: $smallmobileW){
			font-size: 42px;
		}
	}
	.search-form {
		width: 80%;
		@media (max-width: $mobileW){
			width: 100%;
		}

		input {
			@extend .fs4;
			color: $black;
		    border-radius: 3px;
		    border: solid 1px rgba(0,0,0,0.1);
		    padding: 14px 12px 14px 56px;
		    margin: 6px 0;			    
		}
		.search-text {
			width: 100%;
			background-image: url('../images/search-icons-1.jpg');
			background-repeat: no-repeat;
				background-position: 13px center;
		}
		.search-date {
			background-repeat: no-repeat;
			background-image: url('../images/search-icons_2.jpg'), url('../images/search-icons_3.jpg');
			background-position: 13px center, 95%;
		}
		.search-country {
			background-repeat: no-repeat;
			background-image: url('../images/search-icons_3.jpg');
			background-position: 95% center;
		}
		.half-width-input {
			width: 49%;
			float: left;
			display: block;	
			padding-right: 37px;
		}
		.left-input {
			margin-right: 2%;
		}
		.search-advanced {
			@extend .fs4;
			color: $white;
			font-family: $euroB;
			text-decoration: underline;
			float: left;
			display: block;
			margin-top: 1.5em;

			&:hover {
				text-decoration: none;
			}
		}

		.search-submit {
			@extend input, .text-shadow;
			padding-left: 30px;
			padding-right: 30px;
			background: $green;
			color: $white;
			font-family: $euroB;
			float: right;

			@media (max-width: $mobileW){
				width: 100%;
			}
			@media (max-width: $smallmobileW){
				font-size: 19px;
			}

			&:hover{
				box-shadow: 0 0 11px 0px #000 inset;
			}
		}
	}

	.header-courses-list {
		color: $white;
		padding: 1em 0;
		border-bottom: solid 1px $grey;
		&:first-child {
			border-top: solid 1px $grey;
		}
		@media (max-width: $mobileW){
			margin-top: 2em;
		}

		&>div{
			@media (max-width: 519px){
				display: block;
				width: 100%;
			}
		}

		.title {
			@extend .fs3;
			font-family: $euroB;
			margin: 0;
		}
		.content {
			@extend .fs4;
		}
		.price {
			font-size: 23px;
			text-align: right;
			font-family: $euroB;
		}
		.button-group {				
			float: right;
			
			i {
				@extend .fs3;
			    vertical-align: sub;
			    position: relative;
			    bottom: 14px;
			    padding-right: 4px;
			}
			.book {
				@extend .fs4, .text-shadow;
				font-family: $euroB;
				background: $green;
				border: solid 1px $green;
				padding: 2px 14px;
				@media (max-width: $smallmobileW){
					font-size: 19px;
				}

				&:hover {
					box-shadow: 0 0 12px -1px #000 inset;
				}
			}
		}			
	}

	.view-all {
		@extend .fs4, .u-anim;
		color: $white;
		text-decoration: none;
		
		float: right;
		padding-top: 11px;
		font-weight: bolder;

		@media (max-width: $mobileW){
			padding: 31px 0 34px;
		}
	}
}

/***
*  Home page styles 
*/
.home {
	/* ==global== */
	.section-title {
		@extend .fs2;
		font-family: $euroB;
	}



	.most-popular-courses {
		margin-top: $deftopoffset;


		a.view-all {
			@extend .fs4, .u-anim;
			color: $black;
			float: right;			
			font-family: $euroL;

			@media (min-width: $mobileW){
				padding-top: 1em;
			}
			@media (max-width: $mobileW){
				font-size: 20px;
				position: relative;
				bottom: 19px;
			}
			@media (max-width: $smallmobileW){
				padding-top: 11px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		.second-row {

			& > div {
				@media(max-width: 720px){
					width: 80%;
				    margin-left: auto;
				    margin-right: auto;
				    float: none;
				}
				@media (max-width: 500px){
					width: 97%;
				}
			}
			.course-thumb {
				width: 100%;
				height: 220px;
				margin-bottom: 12px;

				span.title {
					@extend .fs1;
					color: $white;
					font-family: $euroB;
					text-align: center;
					width: 100%;
					display: block;				    			
	    			padding-top: 82px;
				}
				span.link {
					@extend span.title, .fs3;
					text-decoration: underline;
					font-family: $euroL;
					padding-top: 0; 				
					position: relative;
					bottom: 12px;
					visibility: hidden;
					cursor: pointer;
				}
				&:hover span.link {
					visibility: visible;
				}
			}
			.course-item {
				padding-bottom: 25px;
			    border-bottom: solid 1px $wgrey;
			    margin-bottom: 25px;


				.title {
					@extend .fs4;
					margin-bottom: 0;
					font-family: $euroB;
				}
				.descr {
					@extend .fs4;
				}
				.price {
					font-size: $fs3;
					color: $grey;
					font-family: $euroB;
					float:right;
				}

				.label {
					display: inline-block;
					margin-top: 10px;
				}			

				.button-group {				
					float: right;
					
					i {
						@extend .fs3;					
					    vertical-align: sub;
					    position: relative;
					    bottom: 14px;
					    padding-right: 4px;
					    color: $grey;
					}
					.book {
						@extend .fs4, .text-shadow;
						font-family: $euroB;
						background: $green;
						border: solid 1px $green;
						padding: 2px 14px;
						color: $white;
						@media (max-width: $smallmobileW){
							font-size: 19px;
						}

						&:hover {
							box-shadow: 0 0 12px -1px #000 inset;
						}
					}
				}			
			}
			.show-more {
				@extend .fs4, .u-anim;
				color: $black;
				float: right;
				display: block;
			}
		}
	}
	/* == *== *== *== *== *== *== *== *== *== *== *== *== *== */

	.special-deals {
		margin-top: $deftopoffset;
		padding-bottom: $deftopoffset;

		.left-side {
			.items {
				margin-bottom: 1.2em;
				
				& > .col-xs-5 {
					@media(max-width:453px){
						width: 30%;
					}
				}
				& > .col-xs-19 {
					@media(max-width:453px){
						width: 69%;
					}
				}

				.icon-in-round {
				    width: 80px;
				    height: 80px;
				    border-radius: 50%;
				    margin: 0 auto;				    

				    img {
			    	    display: block;
					    margin: 0 auto;
					    position: relative;
					    top: 28%;
				    }
				}
				.green {background: $green;}
				.blue {background: $blue;}
				.purple {background: #ADA6D0;}
				.orange {background: #FA7F00;}
				.red {background: #C71A19;}
			}
			.title {
				@extend .fs3;
				font-family: $euroB;
				margin-bottom: 0;
				padding-top: 12px;
			}
			.desc {
				@extend .fs4;
				
				span.dot {
					padding-left: 5px;
				}
				span.dot:before {
					content: ".";
				    position: relative;
				    font-family: tahoma;
				    color: #fff;
				    width: 5px;
				    height: 5px;
				    background: #000;
				    border-radius: 50%;
				    display: inline-block;
				    bottom: -9px;
				    left: -5px;
				}
			}
		}
		
		.right-side {
			@media (max-width: $mobileW) {
				margin-top: $deftopoffset;				
			}


			.items {
			    margin-bottom: 1.7em;
			    border-bottom: 1px solid #ddd;
			    padding-bottom: 0.9em;

			    .img-wrapper {
			    	width: 220px;
			    	height: 73px;
			    	margin-left: auto;
			    	margin-right: auto;
			    	max-width: 100%;

			    	img {
			    		max-width: 100%;
			    		height: auto;
			    	}
			    }

				.desc {
					@extend .fs4;
				}
				.links {
					@extend .fs4;
					color: $blue;
				}
			}
			.show-all {
				@extend .fs4, .u-anim;
				color: $black;
				float: right; 
			}
		}
	}

	/* == *== *== *== *== *== *== *== *== *== *== *== *== *== */


	.create-account {
		padding-top: $deftopoffset;		
		min-height: 662px;
		position: relative;


		.section-title{
			@extend .fs1;
			line-height: 0.93;
			margin-bottom: 1em;
			@media (max-width: $smallmobileW){
				font-size: 42px;
			}
		}
		p {
			@extend .fs4;
			color: $white;
			margin-bottom: 2em;
		}
		.img-wrapper {
		    width: 36vw;
		    height: 21vw;
	        position: absolute;
		    bottom: 0;
		    left: 47%;

		    @media (max-width: 650px){
		    	display: none;
		    }
		}
	}

	/* == *== *== *== *== *== *== *== *== *== *== *== *== *== */

	.latest-news {
		padding-top: $deftopoffset;
		padding-bottom: $deftopoffset;

		.show-all {
		    @extend .fs4, .u-anim;
		    float: right;
			color: $black;
			
			@media (min-width: $mobileW){
				padding-top: 1em;
			}
			@media (max-width: $mobileW){
				font-size: 20px;
				position: relative;
				bottom: 19px;
			}
			@media (max-width: $smallmobileW){
				padding-top: 11px;
			}


		}

		.news-col {
			@media (max-width: $mobileW){
				margin-bottom: 2em;
			}
			
			.img-wrapper {
				margin-bottom: 1em;
				width: 100%;
				@media (max-width: $mobileW){
					width: 98%;
					margin-left: auto;
					margin-right: auto;
				}

				.sticker {
					display: inline-block;
					background: $green;
					color: $white;
					font-family: $euroB;
					left: 9%;
					position: relative;
					text-align: center;
					padding: 13px 4px 5px;

					.number {
						@extend .fs2;
						display: block;
						line-height: 0.7;
					}
					.text {
						@extend .fs5;
						display: block;
						line-height: 0.7;
					}
				}
			}

			.title {
				@extend .fs4;
				font-family: $euroB;
				padding-bottom: 1em;
				line-height: 1;
			}
			.desc {
				@extend .fs5;
				padding-bottom: 1em;				
			}
			.read-more {
				@extend .fs5, .u-anim;
				color: $green;
				font-weight: bold;
			}
		}
	}
}